

////////////////////////////////////////////////////////////////////////////////////////////////////
// Grid settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Playground settings
    @mixin playground {
        // width:                   Responsive by grid.js  //=> Chess grid
        // height:                  Responsive by grid.js  //=> Chess grid
        border:                     $playground-border;
        margin:                     $playground-margin;
        padding:                    $playground-padding;
        position:                   $playground-position;
        left:                       $playground-x-align;
        top:                        $playground-y-align;
        transform:                  $playgrount-transform;
        box-sizing:                 $playground-box-sizing;

            background-image:           $playground-bg-image;
            background-repeat:          $playground-bg-repeat;
            background-size:            $player2-bg-size;
            background-position:        $playground-bg-position;

             // Img
            img {
                width:                      $playground-img-size;
                height:                     $playground-img-size;
                position:                   $playground-img-position;
                left:                       $playground-img-left;
                top:                        $playground-img-top;
                transform:                  $playground-img-transform;
                }

            // Name bars
            #upper_bar, #lower_bar, #left_bar, #right_bar {
                position:                   $name-bar-position;
                color:                      $name-bar-color;
                font-size:                  $name-bar-font-size;
                }

                // Position corrector
                #upper_bar {
                    margin-top:                 -$playground-padding;
                    }
                #lower_bar {
                    bottom:                     0;
                    }
                #right_bar {
                    right:                      0;
                    }


                    // Name bars inner divs settings
                    #upper_bar div, #lower_bar div {
                        display:                    $name-bar-columns-display;
                        width:                      $name-bar-size;
                        height:                     $name-bar-size-auto;
                        text-align:                 $name-bar-text-align;
                        }

                    #left_bar div, #right_bar div {
                        display:                    $name-bar-rows-display;
                        align-items:                $name-bar-text-valign;
                        height:                     $name-bar-size;
                        width:                      $name-bar-size-auto;
                        margin-left:                -$playground-padding + ($playground-padding / 4);
                        }
        }


    // Tiles settings
        @mixin tile {
            // width:                   Responsive by grid.js  //=> Chess grid
            // height:                  Responsive by grid.js  //=> Chess grid
            display:                    $tile-display;
            }



////////////////////////////////////////////////////////////////////////////////////////////////////
// Panels settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Panels basic settings
    @mixin panels_basic {
        width:                          $panels-width;
        position:                       $panels-position;
        // left:                        Responsive by panels.js  //=> Panels
        border:                         $panels-border;
        
            background-image:               $panels-bg-image;
            background-repeat:              $panels-bg-repeat;
            background-size:                $panels-bg-size;
            background-position:            $panels-bg-position;

            h1, h2, h3, p {
                margin-top:                 $content-margin-top;
                text-align:                 $content-align;
                font-family:                $content-font;     
                font-weight:                $content-font-weight;  
                -webkit-text-stroke:        $content-stroke;
                color:                      $content-color;  
                }

                h1 {
                    font-size:                  $content-h1;
                    }

                h2 {
                    font-size:                  $content-h2;
                    }

                h3 {
                    font-size:                  $content-h3;
                    }

                p {
                    font-size:                  $content-p;
                    }
        }
    

    // Players settings
        @mixin players {
            height:                     $players-height;
            margin-left:                $players-margin-x-align;
            margin-bottom:              $players-margin-y-align;
            bottom:                     $players-y-align;
            padding-top:                $players-padding-top;

                background-size:               $players-bg-size;
                background-position:           $players-bg-position;

            div {
                display:                    $players-display;
                position:                   $players-position;
                left:                       $players-left;
                transform:                  $players-transform-x-align;
                padding:                    $players-padding;
                text-align:                 $players-text-align;
                font-size:                  $players-text-font-size;
                font-weight:                $players-text-font-weight;
                -webkit-text-stroke:        $content-stroke;
            }

            img {
                width:                      $players-img-size;
                height:                     $players-img-size;
    
                position:                   $players-img-position;
                left:                       $players-img-left;
                top:                        $players-img-top;
                transform:                  $players-img-transform;
            }

            p {
                margin-top:                 $content-players-margin-top;
                }
            }


        // Player1 settings
            @mixin player1 {
                transform:                  $player1-transform-x-align;
                color:                      $player1-text-color;
                }

        // Player2 settings
            @mixin player2 {
                background-size:            $player2-bg-size;
                background-position:        $player2-bg-position;
                color:                      $player2-text-color;
                }


    // Game name settings
        @mixin game_name {
            width:                      $game-name-width;
            height:                     $game-name-height;
            margin-top:                 $game-name-margin-y-align;
            margin-left:                $game-name-margin-left;
            transform:                  $game-name-transform-y-align;

            border:                     $game-name-border;
            -webkit-text-stroke:        $game-name-stroke;

                background-image:           $game-name-bg-image;
                background-repeat:          $game-name-bg-repeat;
                background-size:            $game-name-bg-size;
                background-position:        $game-name-bg-position;         
            }


    // Log settings
        @mixin log {
            height:                     $log-height;
            margin-left:                $log-margin-x-align;
            margin-top:                 $log-margin-y-align;

            p {
                font-size:                  $log-text-font-size;
                text-align:                 $log-tex-align;
                padding-left:               $log-padding-left;
                color:                      $log-text-color;
                -webkit-text-stroke:        $log-text-stroke;
                }

            #log_area {
                overflow-y:                 $log-area-overflow-y;
                width:                      $log-area-width;
                height:                     $log-area-height;
            }

            #log_area::-webkit-scrollbar {
                width:                      $log-area-webkit-scrollbar-width;     
                }
            
            #log_area::-webkit-scrollbar-track {
                background:                 $log-area-webkit-scrollbar-track-bg;
                border-radius:              $log-area-webkit-scrollbar-track-border-radius;    
                }
            
            #log_area::-webkit-scrollbar-thumb {
                background-color:           $log-area-webkit-scrollbar-thumb-bg-color;
                border-radius:              $log-area-webkit-scrollbar-thumb-border-radius;   
                border:                     $log-area-webkit-scrollbar-thumb-border;
                }
            }



    // Turn action settings
        @mixin turn_action {
            width:                      $turn-action-width;
            height:                     $turn-action-height;
            margin-top:                 $turn-action-margin-y-align;
            margin-left:                $turn-action-margin-left;

            background-size:            $turn-action-bg-size;
            background-position:        $turn-action-bg-position;

            p {
                margin-top:                 $content-turn-action-margin-top; 
                color:                      $turn-action-color;
                }
            }


    // Turn count settings
        @mixin turn_count {
            @include tile_hover();
            margin-top:                 ($turn-count-margin-top + $turn-count-margin-y-align) + $tile-hover-height;
            }


    // Turn tile hover settings
        @mixin tile_hover {
            height:                     $tile-hover-height;
            margin-left:                $tile-hover-margin-x-align;
            margin-top:                 $tile-hover-margin-y-align;
            transform:                  $tile-hover-transform-x-align;

            p {
                color:                      $tile-hover-color;
            }

            }



////////////////////////////////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////////////////////////////////