

////////////////////////////////////////////////////////////////////////////////////////////////////
// Grid settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Playground settings
    // $playground-size:        Responsive by grid.js  //=> Chess grid
    $playground-border:         2px solid #000;
    $playground-margin:         0px;
    $playground-padding:        15px;
    $playground-position:       absolute;
    $playground-x-align:        50%;  
    $playground-y-align:        50%;  
    $playgrount-transform:      translate(-50%, -50%);
    $playground-box-sizing:     content-box;
    $playground-display:        none;

        $playground-bg-image:       url(./images/panels_background.jpg);
        $playground-bg-repeat:      no-repeat;
        $playground-bg-size:        100% 100%;
        $playground-bg-position:    0px 0px;  


    // Tiles settings
        // $tile-size:              Responsive by grid.js  //=> Chess grid
        $tile-display:              inline-block;
        // $tile-odd-color:         Set by grid.js //=> Color settings
        // $tile-even-color:        Set by grid.js //=> Color settings


    // Img
        $playground-img-size:           90%;
        $playground-img-position:       relative;
        $playground-img-left:           50%;
        $playground-img-top:            50%;
        $playground-img-transform:      translate(-50%, -50%);

    // Name bars
        $name-bar-position:             absolute;
        $name-bar-color:                #fff;
        $name-bar-font-size:            12px;

            $name-bar-columns-display:      inline-block;
            $name-bar-rows-display:         flex;
            // $name-bar-size:              Responsive by grid.js  //=> Chess grid // in function create_name_bars
            $name-bar-size-auto:            auto;
            $name-bar-text-align:           center;
            $name-bar-text-valign:          center;



////////////////////////////////////////////////////////////////////////////////////////////////////
// Panels settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Panels basic settings
    $panels-width:                  200px;
    $panels-position:               absolute;
    // $panels-left:                Responsive by panels.js  //=> Panels
    $panels-border:                 2px solid #000;
    $panels-display:                none;

        $panels-bg-image:               linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/panels_background.jpg);
        $panels-bg-repeat:              no-repeat;
        $panels-bg-size:                100% 150%;
        $panels-bg-position:            0px -30px;


    //headers and paragraphs in panels
        $content-margin-top:            1px;
        $content-players-margin-top:    5px;
        $content-turn-action-margin-top:5px;
        $content-align:                 center;     
        $content-font:                  cursive;
        $content-font-weight:           1000;
        $content-h1:                    50px;       // Name
        $content-h2:                    30px;       // Players
        $content-h3:                    20px;       // Others
        $content-p:                     25px;
        $content-stroke:                1.5px black;
        $content-color:                 #fff;

        
    // Side panels align
        $side-panel-margin-x-align:     50%;
        $side-panel-margin-y-align:     -60px;
        $side-panel-transform-x-align:  translateX(-100%);
        $side-panel-transform-x0-align: translateX(-50%);
        $side-panel-transform-y-align:  translateY(-100%);
    

    // New game panel
        $new-game-panel-widht:          250px;
        $new-game-panel-height:         250px;
        $new-game-panel-position:       absolute;
        $new-game-panel-top-align:      50%;
        $new-game-panel-left-align:     50%;
        $new-game-panel-transform:      translate(-50%, -50%);
        $new-game-panel-text-align:     center;
        $new-game-panel-padding:        10px;
        $new-game-panel-display:        block;

        // button
            $new-game-panel-btn-width:      80%;
            $new-game-panel-btn-height:     50px;
            $new-game-panel-btn-margin-top: 10px;
            $new-game-panel-btn-margin-bottom: 10px;
            $new-game-panel-btn-font-size:  20px;
            $new-game-panel-btn-font-weight: 1000;

        // p
            $new-game-panel-p-margin-bottom: 5px;
            $new-game-panel-p-text-align:   left;
            $new-game-panel-p-font-size:    13px;
            $new-game-panel-p-color:        #000;
            $new-game-panel-p-stroke:       0 black;
        
        // img
            $new-game-panel-img-widht:      20px;
            $new-game-panel-img-height:     20px;
            $new-game-panel-img-position:   static;
            $new-game-panel-img-top-align:  0;
            $new-game-panel-img-left-align: 0;
            $new-game-panel-img-transform:  translate(0%, 0%);
            $new-game-panel-img-margin-left: 10px;
            $new-game-panel-img-margin-right: 10px;


    // Players settings
        $players-height:                80%;
        $players-padding-top:           10px;
        $players-margin-x-align:        $side-panel-margin-x-align;
        $players-margin-y-align:        $side-panel-margin-y-align;
        $players-y-align:               0;

            $players-bg-size:               100% 120%;
            $players-bg-position:           0px 0px;

            // Img
                $players-img-size:              50px;
                $players-img-position:          static;
                $players-img-left:              0%;
                $players-img-top:               0%;
                $players-img-transform:         translate(0%, 0%);

            // Inner div
                $players-position:              relative;
                $players-left:                  50%;
                $players-transform-x-align:     translateX(-100%);
                $players-display:               inline-block;
                $players-padding:               5px 10px;
                $players-text-align:            center;
                $players-text-font-size:        20px;
                $players-text-font-weight:      1000;


        // Player1 settings
            $player1-transform-x-align:     $side-panel-transform-x-align;
            $player1-text-color:            #000;
            
            
        // Player2 settings
            $player2-bg-size:               100% 150%;
            $player2-bg-position:           0px -100px;
            $player2-text-color:            #fff;


    // Game name settings
        $game-name-width:               100%;
        $game-name-height:              60px;
        $game-name-margin-y-align:      50%;
        $game-name-transform-y-align:   $side-panel-transform-y-align;
        $game-name-margin-left:         -$playground-padding;

        $game-name-border:              none;
        $game-name-stroke:              2.5px black;

            $game-name-bg-image:               none;
            $game-name-bg-repeat:              no-repeat;
            $game-name-bg-size:                100% 100%;
            $game-name-bg-position:            0px 0px;
            

    // Log settings
        $log-height:                    35%;
        $log-margin-x-align:            $side-panel-margin-x-align;
        $log-margin-y-align:            $side-panel-margin-y-align;
        $log-text-font-size:            10px;
        $log-text-color:                #000;
        $log-text-stroke:               0px #000;
        $log-tex-align:                 left;
        $log-padding-left:              10px;

        // Log_area settings
            $log-area-overflow-y:                               scroll;
            $log-area-width:                                    100%;
            $log-area-height:                                   75%;
            $log-area-webkit-scrollbar-width:                   12px;
            $log-area-webkit-scrollbar-track-bg:                gray;
            $log-area-webkit-scrollbar-track-border-radius:     20px;
            $log-area-webkit-scrollbar-thumb-bg-color:          #fff;
            $log-area-webkit-scrollbar-thumb-border-radius:     20px;
            $log-area-webkit-scrollbar-thumb-border:            3px solid #000; 



    // Turn action settings
        $turn-action-width:             100%;
        $turn-action-height:            50px;
        $turn-action-margin-y-align:    50%;
        $turn-action-margin-left:       -$playground-padding;
        $turn-action-color:             #ffff00;

            $turn-action-bg-size:           100% 300%;
            $turn-action-bg-position:       0px 0px;


    // Turn count settings
        $turn-count-margin-y-align:     $side-panel-margin-y-align;
        $turn-count-margin-top:         10px;


    // Turn tile hover settings
        $tile-hover-height:             70px;
        $tile-hover-margin-x-align:     $side-panel-margin-x-align;
        $tile-hover-margin-y-align:     $side-panel-margin-y-align;
        $tile-hover-transform-x-align:  $side-panel-transform-x-align;
        $tile-hover-color:              #ffff00;


    // Promote panel
        $promote-panel-margin-x-align:  $side-panel-margin-x-align;
        $promote-panel-margin-y-align:  $side-panel-margin-y-align;
        $promote-panel-transform-x-align:$side-panel-transform-x-align;
        $promote-panel-display:         none;
        $promote-panel-width:           $panels-width;
        $promote-panel-position:        absolute;
        $promote-panel-text-align:      center;
        $promote-panel-font-size:       15px;
        $promote-panel-padding:         5px 5px;
        $promote-panel-border:          2px solid #000;
        $promote-panel-z-index:         1000;

        // img
            $promote-panel-img-margin:      5px;
            $promote-panel-img-width:       50px;
            $promote-panel-img-height:      50px;
            $promote-panel-img-left:        0;
            $promote-panel-img-top:         0;
            $promote-panel-img-transform:   translate(0%, 0%);
            $promote-panel-img-padding:     5px;
            $promote-panel-img-border:      2px solid #000;
            $promote-panel-img-image:       linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(./images/panels_background.jpg);
            

    // Reset game
        $reset-game-width:                  100%;
        $reset-game-height:                 100%;
        $reset-game-padding:                10px;
        $reset-game-p-color:                red;


////////////////////////////////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////////////////////////////////