

////////////////////////////////////////////////////////////////////////////////////////////////////
// Grid settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Playground settings
    // $playground-size:        Responsive by grid.js  //=> Chess grid
    $playground-border:         2px solid #000;
    $playground-margin:         0px;
    $playground-padding:        10px;
    $playground-position:       absolute;
    $playground-x-align:        50%;  
    $playground-y-align:        50%;  
    $playgrount-transform:      translate(-50%, -50%);
    $playground-box-sizing:     content-box;

        $playground-bg-image:       url(./images/panels_background.jpg);
        $playground-bg-repeat:      no-repeat;
        $playground-bg-size:        100% 100%;
        $playground-bg-position:    0px 0px;


    // Tiles settings
        // $tile-size:              Responsive by grid.js  //=> Chess grid
        $tile-display:              inline-block;
        // $tile-odd-color:         Set by grid.js //=> Color settings
        // $tile-even-color:        Set by grid.js //=> Color settings
    


////////////////////////////////////////////////////////////////////////////////////////////////////
// Panels settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Panels basic settings
    $panels-width:                  200px;
    $panels-position:               absolute;
    // $panels-left:                Responsive by panels.js  //=> Panels
    $panels-border:                 2px solid #000;

        $panels-bg-image:               url(./images/panels_background.jpg);
        $panels-bg-repeat:              no-repeat;
        $panels-bg-size:                100% 150%;
        $panels-bg-position:            0px -30px;


    //headers and paragraphs in panels
        $content-margin-top:            1px;
        $content-players-margin-top:    5px;
        $content-turn-action-margin-top:7px;
        $content-align:                 center;     
        $content-font:                  cursive;
        $content-font-weight:           1000;
        $content-h1:                    50px;       // Name
        $content-h2:                    30px;       // Players
        $content-h3:                    20px;       // Others
        $content-p:                     25px;
        $content-stroke:                1.5px black;
        $content-color:                 #fff;

        
    // Side panels align
        $side-panel-margin-x-align:     50%;
        $side-panel-margin-y-align:     -60px;
        $side-panel-transform-x-align:  translateX(-100%);
        $side-panel-transform-x0-align: translateX(-50%);
        $side-panel-transform-y-align:  translateY(-100%);
    

    // Players settings
        $players-height:                80%;
        $players-padding-top:           10px;
        $players-margin-x-align:        $side-panel-margin-x-align;
        $players-margin-y-align:        $side-panel-margin-y-align;
        $players-y-align:               0;

            $players-bg-size:               100% 120%;
            $players-bg-position:           0px 0px;


        // Player1 settings
            $player1-transform-x-align:     $side-panel-transform-x-align;
            
            
        // Player2 settings
            $player2-bg-size:               100% 150%;
            $player2-bg-position:           0px -100px;


    // Game name settings
        $game-name-width:               100%;
        $game-name-height:              60px;
        $game-name-margin-y-align:      50%;
        $game-name-transform-y-align:   $side-panel-transform-y-align;
        $game-name-margin-left:         -$playground-padding;

        $game-name-border:              none;
        $game-name-stroke:              2.5px black;

            $game-name-bg-image:               none;
            $game-name-bg-repeat:              no-repeat;
            $game-name-bg-size:                100% 100%;
            $game-name-bg-position:            0px 0px;
            

    // Log settings
        $log-height:                    35%;
        $log-margin-x-align:            $side-panel-margin-x-align;
        $log-margin-y-align:            $side-panel-margin-y-align;


    // Turn action settings
        $turn-action-width:             100%;
        $turn-action-height:            50px;
        $turn-action-margin-y-align:    50%;
        $turn-action-margin-left:       -$playground-padding;

            $turn-action-bg-size:           100% 300%;
            $turn-action-bg-position:       0px 0px;


    // Turn count settings
        $turn-count-margin-y-align:     $side-panel-margin-y-align;
        $turn-count-margin-top:         10px;


    // Turn tile hover settings
        $tile-hover-height:             70px;
        $tile-hover-margin-x-align:     $side-panel-margin-x-align;
        $tile-hover-margin-y-align:     $side-panel-margin-y-align;
        $tile-hover-transform-x-align:  $side-panel-transform-x-align;
        $tile-hover-color:              #ffff00;



////////////////////////////////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////////////////////////////////