* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#playground {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
  background-image: url(./images/panels_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: 0px 0px;
}

#playground img {
  width: 90%;
  height: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#playground #upper_bar, #playground #lower_bar, #playground #left_bar, #playground #right_bar {
  position: absolute;
  color: #fff;
  font-size: 12px;
}

#playground #upper_bar {
  margin-top: -15px;
}

#playground #lower_bar {
  bottom: 0;
}

#playground #right_bar {
  right: 0;
}

#playground #upper_bar div, #playground #lower_bar div {
  display: inline-block;
  height: auto;
  text-align: center;
}

#playground #left_bar div, #playground #right_bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-left: -11.25px;
}

.odd_tile {
  display: inline-block;
}

.even_tile {
  display: inline-block;
}

#player1, #player2, #new_game, #name, #log, #turn_action, #turn_count, #tile_hover {
  width: 200px;
  position: absolute;
  border: 2px solid #000;
  display: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(./images/panels_background.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/panels_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: 0px -30px;
}

#player1 h1, #player1 h2, #player1 h3, #player1 p, #player2 h1, #player2 h2, #player2 h3, #player2 p, #new_game h1, #new_game h2, #new_game h3, #new_game p, #name h1, #name h2, #name h3, #name p, #log h1, #log h2, #log h3, #log p, #turn_action h1, #turn_action h2, #turn_action h3, #turn_action p, #turn_count h1, #turn_count h2, #turn_count h3, #turn_count p, #tile_hover h1, #tile_hover h2, #tile_hover h3, #tile_hover p {
  margin-top: 1px;
  text-align: center;
  font-family: cursive;
  font-weight: 1000;
  -webkit-text-stroke: 1.5px black;
  color: #fff;
}

#player1 h1, #player2 h1, #new_game h1, #name h1, #log h1, #turn_action h1, #turn_count h1, #tile_hover h1 {
  font-size: 50px;
}

#player1 h2, #player2 h2, #new_game h2, #name h2, #log h2, #turn_action h2, #turn_count h2, #tile_hover h2 {
  font-size: 30px;
}

#player1 h3, #player2 h3, #new_game h3, #name h3, #log h3, #turn_action h3, #turn_count h3, #tile_hover h3 {
  font-size: 20px;
}

#player1 p, #player2 p, #new_game p, #name p, #log p, #turn_action p, #turn_count p, #tile_hover p {
  font-size: 25px;
}

#player1, #player2 {
  height: 80%;
  margin-left: 50%;
  margin-bottom: -60px;
  bottom: 0;
  padding-top: 10px;
  background-size: 100% 120%;
  background-position: 0px 0px;
}

#player1 div, #player2 div {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
  -webkit-text-stroke: 1.5px black;
}

#player1 img, #player2 img {
  width: 50px;
  height: 50px;
  position: static;
  left: 0%;
  top: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

#player1 p, #player2 p {
  margin-top: 5px;
}

#player1 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  color: #000;
}

#player2 {
  background-size: 100% 150%;
  background-position: 0px -100px;
  color: #fff;
}

#new_game {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  display: block;
}

#new_game button {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 1000;
}

#new_game p {
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
  color: #000;
  -webkit-text-stroke: 0 black;
}

#new_game img {
  width: 20px;
  height: 20px;
  position: static;
  left: 0;
  top: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  margin-left: 10px;
  margin-right: 10px;
}

#name {
  width: 100%;
  height: 60px;
  margin-top: 50%;
  margin-left: -15px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border: none;
  -webkit-text-stroke: 2.5px black;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px 0px;
}

#log {
  height: 35%;
  margin-left: 50%;
  margin-top: -60px;
}

#log p {
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
  color: #000;
  -webkit-text-stroke: 0px #000;
}

#log #log_area {
  overflow-y: scroll;
  width: 100%;
  height: 75%;
}

#log #log_area::-webkit-scrollbar {
  width: 12px;
}

#log #log_area::-webkit-scrollbar-track {
  background: gray;
  border-radius: 20px;
}

#log #log_area::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #000;
}

#turn_action {
  width: 100%;
  height: 50px;
  margin-top: 50%;
  margin-left: -15px;
  background-size: 100% 300%;
  background-position: 0px 0px;
}

#turn_action p {
  margin-top: 5px;
  color: #ffff00;
}

#turn_count {
  height: 70px;
  margin-left: 50%;
  margin-top: -60px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-top: 20px;
}

#turn_count p {
  color: #ffff00;
}

#tile_hover {
  height: 70px;
  margin-left: 50%;
  margin-top: -60px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#tile_hover p {
  color: #ffff00;
}

#unit_promote {
  display: none;
  width: 200px;
  margin-left: 50%;
  margin-top: -60px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  text-align: center;
  font-size: 15px;
  padding: 5px 5px;
  border: 2px solid #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(./images/panels_background.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/panels_background.jpg);
  z-index: 1000;
}

#unit_promote img {
  margin: 5px;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  padding: 5px;
  border: 2px solid #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url(./images/panels_background.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(./images/panels_background.jpg);
}

#reset {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#reset p {
  color: red;
}

#give_up_WHITE, #give_up_BLACK {
  width: 150px;
  padding: 5px;
  display: none;
}

#give_up_WHITE p, #give_up_BLACK p {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */