
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";


// Reset
* {
    margin:                     0px;
    padding:                    0px;
    box-sizing:                 border-box;
    }

    body {
        width:                      100vw;
        height:                     100vh;
        background-image:           url(./images/background.jpg);
        background-repeat:          no-repeat;
        background-size:            100% 100%;
        }




////////////////////////////////////////////////////////////////////////////////////////////////////
// Grid settings
////////////////////////////////////////////////////////////////////////////////////////////////////


// Playground settings
    #playground {
        @include playground;
        }


    // Tiles settings
        .odd_tile {
            @include tile;
            // background-color:           Set by grid.js //=> Color settings
            }

        .even_tile {
            @include tile;
            // background-color:           Set by grid.js //=> Color settings
            }  



    // units testing // king, queen, rook, bischop, knight, pawn
            button {
                width: 50px;
                height: 50px;
                background-color: red;
                }  

            #playground img {
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                width: 90%;
                height: 90%;
            }


////////////////////////////////////////////////////////////////////////////////////////////////////
// Panels settings
////////////////////////////////////////////////////////////////////////////////////////////////////

// Panels basic settings
    #player1, #player2, #name, #log, #turn_action, #turn_count, #tile_hover {
        @include panels_basic;
        }

    // Players settings
        #player1, #player2 {
            @include players 
            }

        // Player1 settings
            #player1 {
                @include player1 
                }

        // Player2 settings
            #player2 {
                @include player2 
                }

    // Game name settings
        #name {
            @include game_name 
            }

    // Log settings
        #log {
            @include log 
            }

    // Turn action settings
        #turn_action {
            @include turn_action 
            }

    // Turn count settings
        #turn_count {
            @include turn_count 
            }

    // Turn tile hover settings
        #tile_hover {
            @include tile_hover 
            }



////////////////////////////////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////////////////////////////////



        #player1 img, #player2 img  {
            width: 50px;
            height: 50px;

            position: static;
            left: 0%;
            top: 0%;
            transform: translate(0%, 0%);


        }