* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#playground {
  border: 2px solid #000;
  margin: 0px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-image: url(./images/panels_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: 0px 0px;
}

.odd_tile {
  display: inline-block;
}

.even_tile {
  display: inline-block;
}

#player1, #player2, #name, #log, #turn_action, #turn_count, #tile_hover {
  width: 200px;
  position: absolute;
  border: 2px solid #000;
  background-image: url(./images/panels_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: 0px -30px;
}

#player1 h1, #player1 h2, #player1 h3, #player1 p, #player2 h1, #player2 h2, #player2 h3, #player2 p, #name h1, #name h2, #name h3, #name p, #log h1, #log h2, #log h3, #log p, #turn_action h1, #turn_action h2, #turn_action h3, #turn_action p, #turn_count h1, #turn_count h2, #turn_count h3, #turn_count p, #tile_hover h1, #tile_hover h2, #tile_hover h3, #tile_hover p {
  margin-top: 1px;
  text-align: center;
  font-family: cursive;
  -webkit-text-stroke: 1.5px black;
  color: #fff;
}

#player1 h1, #player2 h1, #name h1, #log h1, #turn_action h1, #turn_count h1, #tile_hover h1 {
  font-size: 50px;
}

#player1 h2, #player2 h2, #name h2, #log h2, #turn_action h2, #turn_count h2, #tile_hover h2 {
  font-size: 30px;
}

#player1 h3, #player2 h3, #name h3, #log h3, #turn_action h3, #turn_count h3, #tile_hover h3 {
  font-size: 20px;
}

#player1 p, #player2 p, #name p, #log p, #turn_action p, #turn_count p, #tile_hover p {
  font-size: 20px;
}

#player1, #player2 {
  height: 80%;
  margin-left: 50%;
  margin-bottom: -60px;
  bottom: 0;
  padding-top: 10px;
  background-size: 100% 120%;
  background-position: 0px 0px;
}

#player1 p, #player2 p {
  margin-top: 5px;
}

#player1 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#player2 {
  background-size: 100% 150%;
  background-position: 0px -100px;
}

#name {
  width: 100%;
  height: 60px;
  margin-top: 50%;
  margin-left: -10px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border: none;
  -webkit-text-stroke: 2.5px black;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px 0px;
}

#log {
  height: 35%;
  margin-left: 50%;
  margin-top: -60px;
}

#turn_action {
  width: 100%;
  height: 50px;
  margin-top: 50%;
  margin-left: -10px;
  background-size: 100% 300%;
  background-position: 0px 0px;
}

#turn_action h3 {
  margin-top: 7px;
}

#turn_count {
  height: 70px;
  margin-left: 50%;
  margin-top: -60px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-top: 20px;
}

#tile_hover {
  height: 70px;
  margin-left: 50%;
  margin-top: -60px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
/*# sourceMappingURL=style.css.map */